@charset "UTF-8";
/* CSS Document*/

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    flex-direction: column;
}

.hidden {
    display: none;
}

/* Header Elements Start */


.mainNav {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-color: #255f99;
    width: 100%;
    justify-content: center;
    margin-bottom: 3px;
}

.logo {
    display: flex;
    width: 200px;
    height: 152px;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.logo:hover {
    cursor: pointer;
    opacity: 60%;
}

.leftNav {
    display: flex;
    width: 360px;
    height: 68.17px;
    background-color: #1a4772;
    justify-content: center;
    align-items: center;
    margin-right: -40px;
}

.rightNav {
    display: flex;
    width: 360px;
    height: 68.17px;
    background-color: #1a4772;
    justify-content: center;
    align-items: center;
    margin-left: -40px;
}

.active {
    background-color: #255f99;
    border-radius: 3px;
}

.mainNav ul li a {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: .1em;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}

.mainNav ul li a:hover {
    background-color: #255f99;
    border-radius: 3px;
}

.rightNav ul li {
    display: inline-block;
    margin-left: 20px;
}

.leftNav ul li {
    display: inline-block;
    margin-right: 20px;
}

/* Hamburger Menu Start */

.burger-logo {
    display: none;
}

#burg-logo {
    width: 70%;
}

#burg-logo:hover {
    cursor: pointer;
    opacity: 60%;
}

#menu{
	width: 35px;
	height: 30px;
	margin: 47px 0 20px 20px;
	cursor: pointer;
}
.bar{
	height: 5px;
	width: 100%;
	background-color: #fff;
	display: block;
	border-radius: 5px;
	transition: 0.3s ease;
}
#bar1{
	transform: translateY(-4px);
}
#bar3{
	transform: translateY(4px);
}
.nav li a{
	color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
	text-decoration: none;
    padding: 7px 13px;
}
.nav li a:hover{
	font-weight: bold;
    color: #fff;
    background-color: #1a4772;
    border-radius: 3px;
}
.nav li{
	list-style: none;
	padding: 16px 0;
}
.nav{
	padding: 0;
	margin: 0 20px;
	transition: 0.3s ease;
	display: none;
}
.menu-bg, #menu-bar{
	top: 0;
	left: 0;
	position: absolute;
}
.menu-bg{
	z-index: 5;
	width: 0;
	height: 0;
	margin: 30px 0 20px 20px;
	background: #255f99;
	border-radius: 50%;
	transition: 0.3s ease;
}
#menu-bar{
	z-index: 2;
    display: none;
}
.change-bg{
	width: 550px;
	height: 540px;
	transform: translate(-60%,-30%);
}
.change .bar{
	background-color: white;
}
.change #bar1{
	transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
	transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
	opacity: 0;
}
.change{
	display: block;
}

.active2 {
    background-color: #1a4772;
    border-radius: 3px;
}

/* Header Elements Close */

/* Footer Elements Start */

#mainFooter {
    width: 100%;
    height: 150px;
    background-color: #255f99;
    margin-top: 2px;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: left;
    justify-content: space-between;
}

#mainFooter p {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3em;
    text-decoration: none;
}

#mainFooter p a {
    text-decoration: none;
    color: white;
}

#mainFooter p a:hover {
    text-shadow: 5px 5px 5px #666;
    cursor: pointer;
    opacity: 60%;
}

#left-footer p {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    color: white;
}

.footer-image {
    margin-left: 10px;
    margin-top: 5px;
}

.footer-image-space {
    padding: 2px;
}

.footer-image-space:hover {
    box-shadow: 5px 5px 5px #666;
    cursor: pointer;
    opacity: 60%;
}

#ig {
    width: 35px;
    height: 35px;
}

#fb {
    width: 35px;
    height: 35px;
}

#yt {
    width: 50px;
    height: 35px;
}

#right-footer {
    display: flex;
    justify-content: flex-start;
    display: inline-block;
    margin-right: 10px;
    text-align: right;
}

#right-footer p {
    color: white;
}

#footer-logo img {
    width: 90%;
    text-align: center;
}

#footer-logo img:hover {
    opacity: 60%;
    cursor: pointer;
}
/* Footer Elements Close */

/* Index Page Elements Start  */

.about-us {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.about-us img {
    width: 100%;
    z-index: 1;
}

.about-us img:hover {
    opacity: 90%;
    cursor: pointer;
}

.new-products {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.new-products img {
    width: 100%;
    z-index: 2;
}

.new-products img:hover {
    opacity: 90%;
    cursor: pointer;
}

.how-its-made {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.how-its-made img {
    width: 100%;
    z-index: 3;
}

.how-its-made img:hover {
    opacity: 90%;
    cursor: pointer;
}

.your-stories {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


.your-stories img {
    width: 100%;
    z-index: 4;
}

.your-stories img:hover {
    opacity: 90%;
    cursor: pointer;
}


/* End of Index Page Elements */

/* Start of New Products Elements */

.newProductsContainer {
    max-width: 1200px;
    margin: 0 auto;
}

.new-new {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.new-new img {
    width: 100%;
    z-index: 1;
}

.products {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.random {
    display: flex;
    flex-direction: row;
    font-family: Helvetica, sans-serif;
    margin: 0 auto;
    line-height: 1.3em;
    color: #1a4772;
    text-transform: uppercase;
    text-align: center;
}

.random img {
    width: 100%;
    z-index: 1;
}

.product-title {
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.products div {
    flex-wrap: wrap;
    margin: 0 auto;
}

#bottle-ad-space {
    margin-top: 3%;
}

#doctor {
    display: flex;
    flex-wrap: wrap;
    background-image: url('../images/holsten-doctor.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
    width: 230px;
}

#doctor:hover {
    background-image: url('../images/holsten-doctor.gif');
}

#pilsner {
    display: flex;
    flex-wrap: wrap;
    background-image: url('../images/holsten-pilsner.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
    width: 230px;
}

#pilsner:hover {
    background-image: url('../images/holsten-pilsner.gif');
}

#remove {
    display: flex;
    flex-wrap: wrap;
    background-image: url('../images/holsten-remove.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
    width: 230px;
}

#remove:hover {
    background-image: url('../images/holsten-remove.gif');
}

/* End of New Products Elements */

/* Start of About Us Elements */

.aboutUsContainer {
    max-width: 1200px;
    margin: 0 auto;
}

.aboutUsBanners {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.aboutUsBanners img {
    width: 100%;
    z-index: 1;
}

.aboutUsStory {
    margin-top: 3%;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    color: #1a4772;
    line-height: 1.4em;
}

#aboutUsStoryExtended {
    display: none;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    color: #1a4772;
    line-height: 1.4em;
}

#aboutUsStoryExtended img {
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    border: 5px solid #fad22f;
    border-radius: 4px;
    max-width: 500px;
    height: auto;
    filter: grayscale(100%);
}

.ViewMorebtn {
    display: flex;
    margin: 0 auto;
    background-color: #fad22f;
    padding: 1% 2% 1% 2%;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 3%;
}

.ViewMorebtn:hover {
    cursor: pointer;
    opacity: 70%;
}

#hook {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 2%;
    font-family: 'Oswald', sans-serif;
}

.picture-text {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    margin: 1%;
}

.aboutUsImgContainer {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.aboutUsPictures {
    margin-left: 3%;
    margin-right: 3%;
}

.aboutUsPictures img {
    width: 100%;
    z-index: 1;
}

#finish {
    text-align: center;
    font-size: 2em;
    line-height: 1.3em;
    font-weight: bold;
    margin-bottom: 2%;
    font-family: 'Oswald', sans-serif;
}

/* End of About Us Elements */

/* Start Of Brewing Elements */

.brewingContainer {
    max-width: 1200px;
    margin: 0 auto;
}

.brewingBanners {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.brewingBanners img {
    width: 100%;
    z-index: 1;
}

.brewingBanners video {
    width: 100%;
    z-index: 1;
}

.craftingPerfection {
    margin-top: 3%;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    color: #1a4772;
    line-height: 1.4em;
    text-align: center;
}

.craftingPerfection p {
    margin-left: 15%;
    margin-right: 15%;
}

.brewingTitle {
    margin-bottom: 2%;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: .2em;
    font-family: 'Oswald', sans-serif;
    color: #1a4772;
    text-align: center;
    text-transform: uppercase;
}

.brewingHR {
    color: #1a4772;
    width: 70%;
    margin-top: 4%;
    margin-bottom: 4%;
    border: 1px solid #1a4772;
}

#craftingFinish {
    font-weight: bold;
    font-size: 1.3em;
    font-family: 'Oswald', sans-serif;
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
}

.process {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.imageContainer {
    position: relative;
    width: 25%;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    border: 8px solid #1a4772;
}

.processImage {
    display: inline;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1a4772;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.imageContainer:hover .overlay {
  height: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.text-title {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.text-subtitle {
    font-family: 'Oswald', sans-serif;
    font-size: .9em;
    margin-top: 3%;
}


/* End of Brewing Elements */

/* Start of your-stories Elements */

.storiesContainer {
    max-width: 1200px;
    margin: 0 auto;
}

.friendsBanners {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.friendsBanners img {
    width: 100%;
    z-index: 1;
}

.testimonials {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    align-items: center;
}

.testimonials img {
    width: 200%;
    height: auto;
    border: 5px solid #1a4772;
    border-radius: 150px;
    margin-right: 15%;
}

.testimonial-text {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    color: #1a4772;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.3em;
}

.testimonial-text-title {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #1a4772;
    text-align: center;
    text-transform: uppercase;
    margin-top: -5%;
    margin-bottom: 3%;
}

.testimonial-name {
    font-size: 2em;
    letter-spacing: .1em;
    margin-bottom: 1%;
}

.storiesHR {
    border: 1px solid #1a4772;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 7%;
}

.storiesTitle {
    margin-bottom: 2%;
    font-weight: bold;
    font-size: 3em;
    letter-spacing: .2em;
    font-family: 'Oswald', sans-serif;
    color: #1a4772;
    text-align: center;
    text-transform: uppercase;
    margin-top: 3%;
}

.storiesSubtitle {
    margin-top: 3%;
    margin-bottom: 6%;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    color: #1a4772;
    line-height: 1.4em;
    text-align: center;
    font-size: 1.3em;
}

.fav-beer {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #1a4772;
    text-transform: uppercase;
}

#topHR {
    margin-bottom: 10%;
}

#grabYours {
    margin-top: 5%;
}

/* End of your-stories Elements */

/* Start of Contact Elements */

.contactContainer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.widthContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contactHeader {
    font-size: 5em;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #1a4772;
    text-transform: uppercase;
    text-align: center;
}

#contactSubheader {
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    margin-top: 2%;
    color: #1a4772;
    text-transform: uppercase;
    text-align: center;
}

form {
    margin-top: 5%;
    text-align: center;
    justify-content: center;
}

.form-control {
    width: 60%;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 1.3em;
    margin-bottom: 3%;
    border: none;
    border-bottom: 3px solid #1a4772;
}

.submit {
    background-color: #fad22f;
    color: #1a4772;
    font-size: 1.5em;
    letter-spacing: .1em;
    border-bottom: none;
    font-weight: bold;
}

.submit:hover {
    background-color: #1a4772;
    color: #fad22f;
    cursor: pointer;
}

.message {
    border: 1px solid #1a4772;
}

.contact-banner {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.contact-banner img {
    width: 100%;
}

/* End of Contact Elements */

/* Start Of Responsive Website */

@media screen and (max-width: 1200px) {

    #aboutUsStoryExtended {
        display: none;
        text-transform: uppercase;
        font-family: Helvetica, sans-serif;
        color: #1a4772;
        line-height: 1.4em;
        margin-left: 4%;
        margin-right: 4%;
    }

    .aboutUsStory {
        margin-top: 3%;
        margin-left: 4%;
        margin-right: 4%;
        text-transform: uppercase;
        font-family: Helvetica, sans-serif;
        color: #1a4772;
        line-height: 1.4em;
    }

    #hook {
        text-align: center;
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 2%;
    }

}

@media screen and (max-width: 960px) {

    #menu-bar {
        z-index: 10;
        display: block;
    }

    .mainNav {
        display: none;
    }

    .burger-logo {
        margin: 0 auto;
        margin-bottom: 3px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        width: 100%;
        background-color: #255f99;
        justify-content: center;
    }

    #hook {
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 2%;
    }

    .brewingTitle {
        margin-bottom: 2%;
        font-weight: bold;
        font-size: 1.6em;
        letter-spacing: .2em;
        font-family: 'Oswald', sans-serif;
        color: #1a4772;
        text-align: center;
        text-transform: uppercase;
    }

    .storiesTitle {
        margin-bottom: 2%;
        font-weight: bold;
        font-size: 2em;
        letter-spacing: .2em;
        font-family: 'Oswald', sans-serif;
        color: #1a4772;
        text-align: center;
        text-transform: uppercase;
        margin-top: 3%;
    }

    .testimonial-text {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        font-family: Helvetica, sans-serif;
        color: #1a4772;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 1em;
    }

    .testimonials img {
        width: 150%;
        height: auto;
        border: 5px solid #1a4772;
        border-radius: 150px;
        margin-right: 15%;
    }

    .storiesSubtitle {
        margin-top: 3%;
        margin-bottom: 6%;
        text-transform: uppercase;
        font-family: Helvetica, sans-serif;
        color: #1a4772;
        line-height: 1.4em;
        text-align: center;
        font-size: 1.2em;
    }

    .form-control {
        width: 75%;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-size: 1.3em;
        margin-bottom: 3%;
        border: none;
        border-bottom: 3px solid #1a4772;
    }

    .submit {
        background-color: #fad22f;
        color: #1a4772;
        font-size: 1.5em;
        letter-spacing: .1em;
        border-bottom: none;
        font-weight: bold;
    }

    .message {
        border: 1px solid #1a4772;
    }
}

@media screen and (max-width: 628px) {

    #mainFooter p {
        font-size: 15px;
    }

    #ig {
        width: 27px;
        height: 27px;
    }

    #fb {
        width: 27px;
        height: 27px;
    }

    #yt {
        width: 39px;
        height: 27px;
    }

    #finish {
        text-align: center;
        font-size: 1.5em;
        line-height: 1.3em;
        font-weight: bold;
        margin-bottom: 2%;
    }

    .imageContainer {
        position: relative;
        width: 40%;
        margin-top: 3%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 3%;
        border: 8px solid #1a4772;
    }

    .text-subtitle {
        font-family: 'Oswald', sans-serif;
        font-size: .7em;
        margin-top: 3%;
    }

    .text {
        font-size: 1em;
    }

    .storiesTitle {
        margin-bottom: 2%;
        font-weight: bold;
        font-size: 1.5em;
        letter-spacing: .2em;
        font-family: 'Oswald', sans-serif;
        color: #1a4772;
        text-align: center;
        text-transform: uppercase;
        margin-top: 3%;
    }

    .storiesSubtitle {
        margin-top: 3%;
        margin-bottom: 6%;
        margin-left: 2%;
        margin-right: 2%;
        text-transform: uppercase;
        font-family: Helvetica, sans-serif;
        color: #1a4772;
        line-height: 1.4em;
        text-align: center;
        font-size: .9em;
    }

}

@media screen and (max-width: 526px) {

    #mainFooter p {
        font-size: 10px;
    }

    #mainFooter p {
        font-size: 15px;
    }

    #ig {
        width: 20px;
        height: 20px;
    }

    #fb {
        width: 20px;
        height: 20px;
    }

    #yt {
        width: 30px;
        height: 20px;
    }

    .product-title {
        font-weight: bold;
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 1.2em;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
    }
}
